[Unit]
Description=Glimpse desktop shell session
Documentation=https://github.com/alex-oleshkevich/glimpse
PartOf=graphical-session.target
Wants=glimpse-panel.service glimpse-wallpaper.service glimpse-sunset.service glimpse-notifications.service glimpse-idle.service glimpse-lock.service
PropagatesReloadTo=glimpse-panel.service glimpse-wallpaper.service glimpse-sunset.service glimpse-notifications.service glimpse-idle.service

[Install]
WantedBy=graphical-session.target
