[Unit]
Description=Glimpse desktop shell daemon
Documentation=https://github.com/alex-oleshkevich/glimpse
PartOf=glimpse-session.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=exec
ExecStart=/usr/bin/glimpsed --without notifications,solar,weather
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
