#main-window {
    background-color: var(--dialog-bg-color);
}

#main-window * {
    outline-width: 0;
}

#main_box {
    border-bottom: 1px solid #e0e0e0;
}

#search_header {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 6px;
    padding-right: 6px;
}

#result_view {
    background-color: transparent;
    border-radius: 0;
    border: 0;
}

.search-entry {
    font-size: 20px;
    background: transparent;
    padding: 8px 12px;
    border: 0;
    border-radius: 0;
    ;
    border-bottom: 2px solid red;
}

.search-row {
    padding: 6px 12px;
}

.search-icon {
    margin-right: 12px;
}

.search-title {
    font-weight: 500;
    font-size: 18px;
}

.search-subtitle {}
