[Desktop Entry]
Type=Application
Version=1.5
Name={{name}}
Comment={{description}}
Icon={{icon}}
Exec={{exec}}
NoDisplay=true
Implements=me.aresa.Glimpse.Applet1
